/* 
    Document   : authen
    Created on : 7 janv. 2013, 22:02:07
    Author     : Florence
    Description:
        Purpose of the stylesheet follows.
*/

 div.cadre
  {
      
      
      width: 700px;
      margin: 4px;
      height: 500px;
      text-align: center;
      font-family:   "Georgia",serif;
      position: absolute; top:300px; left:500px;
  }
  div.authen{ border:1px solid;
      padding:7px;
      background-image: url(http://www.ogametut.free.fr/galeries/09/GalleryImage29081.jpg);
  text-align:center;
  font-weight:normal;
  width:300px;
  margin:2px;
  position:absolute ;top :300px;
  
  }
  
  .inscription:link{
      color:blue;
  }


