header, section, footer, aside, nav, article, figure, figcaption {
	display: block;
}
	
body {
	color: #90EE90;
	background-color: #2F4F4F;
	background-position: center;
	font-family: Georgia, times, serif;
	line-height: 1.5em;
	margin: 0px;
}

input {
	position:relative;
	left:100px;
}


header {
	height: 16px;
	background-color: #696969;
}

nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #000000;
	height: 30px;
}

nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}

nav li {
	display: inline;
	margin-right: 40px;
}

nav li a {
	color: #008080;
	text-decoration : none;
}

nav li a:hover, nav li a.current {
	color: #008000;
	text-decoration : underline;
}

#name {
	margin-right : 100px;
}

.ressources {
	text-align:center;
	color:#C0C0C0;
}
.ressources li {
	display:inline;
	margin-right:30px;
}

.ressources li .valeur {
	position:relative;
	top:15px;
	right:30px;
}

.ressources li img {
	width:50px;
	height:50px;
}

aside ul {
	margin-top:200px;
	
}

aside ul li a {
	color:#ffffff;
}

.description {
	line-height:0.5cm;
}

.buildings {
	position:absolute;
	top:25%;
	right:25%;
}
